@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* color palette: solid colors */
  --dorminant-clr: #e3dcdc;
  --complimentary-clr: #050505;
  --accent-clr: #9c0404;
  --splash-clr: #ffc310;
  /* tints */
  --tint-1: #ffffff;
  --tint-2: #ffffff86;
  --tint-3: #ffffff4f;

  /* fonts: typeface */
  --title-tf: "Oswald", san-serif;
  --body-tf: "Montserrat", san-serif;
  /* font size: title */
  --display-1: 42.5vw;
  --title-1: 5rem;
  --title-2: 1.2rem;
  --title-3: 2.5rem;
  --title-4: 3.5rem;
  /* font size : body */
  --text-3: 0.65rem;
  --text-2: 0.7rem;
  --text-1: 1.4rem;

  /* whitespace  */
  --ws-auto: 4%;
  --ws-1: 8px;
  --ws-2: 12px;
  --ws-3: 18px;
  --ws-4: 32px;
  --ws-5: 64px;
  --ws-6: 96px;
  --ws-extension: 25vh;

  /* layers : z-index */
  --layer-0: -999;
  --layer-1: -99;
  --layer-2: 1;
  --layer-3: 99;
  --layer-4: 999;
  --layer-5: 1000;
}

@media (min-width:768px) {
  :root {
    /* font size: title  */
    --display-1: 21vw;
    --title-1: 12vw;
    --title-2: 2rem;
    --title-4: 4.5rem;

    /* font size : text  */
    --text-3: 0.7rem;
    --text-2: 0.75rem;
    --text-1: 1.6rem;

    /* whitespace  */
    --ws-5: 96px;
    --ws-6: 112px;
  }
}

@media (min-width: 1024px) {
  :root {
    --title-2: 2.5rem;
    --title-3: 3.5rem;

    /* font size : text  */
    --text-1: 2rem;
  }
}

/* general styling  */
#app {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#app.preloading {
  display: none;
}

html,
body {
  background-color: var(--dorminant-clr);
  scroll-behavior: smooth;
  position: relative;
}

img,
svg {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

/* font styles */
/* font colors */
.light-text {
  color: var(--tint-1);
}

.light-text-2 {
  color: var(--tint-2);
}

.light-text-3 {
  color: var(--tint-3);
}

.dark-text {
  color: var(--complimentary-clr);
}

.accent-text {
  color: var(--accent-clr);
}

/* font family */
.title-ff {
  font-family: var(--title-tf);
}

.body-ff {
  font-family: var(--body-tf);
}

/* font size */
.display-text {
  font-size: var(--display-1);
}

.xxxlarge-text {
  font-size: var(--title-1);
}

.xxlarge-text {
  font-size: var(--title-2);
}

.xlarge-text {
  font-size: var(--title-3);
}

.large-text {
  font-size: var(--title-4);
}

.medium-text {
  font-size: var(--text-1);
}

.normal-text {
  font-size: var(--text-3);
}

.small-text {
  font-size: var(--text-2);
}

/* font orientation */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalcase {
  text-transform: capitalize;
}

/* font weight */
.thick {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

/* line height */
.leading-1 {
  line-height: 0.6;
}

.leading-2 {
  line-height: 1.1;
}

.leading-3 {
  line-height: 1.2;
}

.leading-4 {
  line-height: 1.6;
}

/* letterspacing */
.kerning-1 {
  letter-spacing: 8px;
}

.kerning-2 {
  letter-spacing: -1px;
}

.kerning-3 {
  letter-spacing: -2px;
}

.kerning-4 {
  letter-spacing: -4px;
}

.kerning-5 {
  letter-spacing: -8px;
}

/* wordspacing */
.wordspacing-1 {
  word-spacing: 2px;
}

/* margins and paddings */
.px-auto {
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
}

.px-1 {
  padding-right: var(--ws-1);
  padding-left: var(--ws-1);
}

.px-2 {
  padding-right: var(--ws-2);
  padding-left: var(--ws-2);
}

.px-3 {
  padding-right: var(--ws-3);
  padding-left: var(--ws-3);
}

.px-4 {
  padding-right: var(--ws-4);
  padding-left: var(--ws-4);
}

.px-5 {
  padding-right: var(--ws-5);
  padding-left: var(--ws-5);
}

.px-6 {
  padding-right: var(--ws-6);
  padding-left: var(--ws-6);
}

.px-extension {
  padding-left: var(--ws-extension);
  padding-right: var(--ws-extension);
}

.py-1 {
  padding-top: var(--ws-1);
  padding-bottom: var(--ws-1);
}

.py-2 {
  padding-top: var(--ws-2);
  padding-bottom: var(--ws-2);
}

.py-3 {
  padding-top: var(--ws-3);
  padding-bottom: var(--ws-3);
}

.py-4 {
  padding-top: var(--ws-4);
  padding-bottom: var(--ws-4);
}

.py-5 {
  padding-top: var(--ws-5);
  padding-bottom: var(--ws-5);
}

.py-6 {
  padding-top: var(--ws-6);
  padding-bottom: var(--ws-6);
}

.py-extension {
  padding-top: var(--ws-extension);
  padding-bottom: var(--ws-extension);
}

.pt-1 {
  padding-top: var(--ws-1);
}

.pt-2 {
  padding-top: var(--ws-2);
}

.pt-3 {
  padding-top: var(--ws-3);
}

.pt-4 {
  padding-top: var(--ws-4);
}

.pt-5 {
  padding-top: var(--ws-5);
}

.pt-6 {
  padding-top: var(--ws-6);
}

.pt-extension {
  padding-top: var(--ws-extension);
}

.pb-1 {
  padding-bottom: var(--ws-1);
}

.pb-2 {
  padding-bottom: var(--ws-2);
}

.pb-3 {
  padding-bottom: var(--ws-3);
}

.pb-4 {
  padding-bottom: var(--ws-4);
}

.pb-5 {
  padding-bottom: var(--ws-5);
}

.pb-6 {
  padding-bottom: var(--ws-6);
}

.pb-extension {
  padding-bottom: var(--ws-extension);
}

/* positions & ground layouts */
/* positions */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.half-height {
  min-height: 45vh;
}

.three-quater-height {
  height: 70vh;
}

.full-height {
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.full-screen {
  width: 100vw;
  min-height: 100vh;
}

.grid-center {
  display: grid;
  place-content: center;
}

.grid-split {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.flex-1 {
  display: flex;
  align-items: end;
  /* justify-content: end; */
}

.flex-2 {
  display: flex;
  justify-content: space-between;
}

.flex-3 {
  display: flex;
  justify-content: end;
}

.flex-4 {
  display: flex;
  flex-wrap: wrap;
}

.flex-column,
.flex-column-1,
.flex-column-2,
.flex-column-3,
.flex-column-4 {
  display: flex;
  flex-direction: column;
}

.flex-column-1 {
  gap: var(--ws-1);
}

.flex-column-2 {
  gap: var(--ws-2);
}

.flex-column-3 {
  gap: var(--ws-3);
}

.flex-column-4 {
  gap: var(--ws-4);
}

.flex-row-1 {
  gap: var(--ws-1);
}

.flex-row-2 {
  gap: var(--ws-2);
}

.flex-row-3 {
  gap: var(--ws-3);
}

.flex-row-4 {
  gap: var(--ws-4);
}

/* theme */
.dark-bg {
  background-color: var(--complimentary-clr);
}

.light-bg {
  background-color: var(--dorminant-clr);
}

/* clips & masks */
.mask {
  overflow: hidden;
}

.clip-text {
  /* hidden */
  /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); */
  /* reveal */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-circle {
  clip-path: circle(50% at 50% 50%);
}

/* preloader */
#preloader {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  transition: all 0.8s;
  /* transform: translateY(-100%); */
}

.preloader-img {
  width: 50px;
  height: 50px;
  transform: scaleX(-1);
}

.preloader-stick {
  transform-origin: center center;
  animation: spin-stick 3.5s forwards infinite;
}

@keyframes spin-stick {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 768px) {
  .preloader-images {
    width: 55%;
    position: absolute;
    right: 0;
  }
}

/* header */
#nav-list {
  display: none;
}

#header-logo {
  width: 2.5rem;
}

#reel-link {
  grid-column: 2/2;
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (min-width: 768px) {
  #nav-list {
    display: flex;
  }
}

/* hero */
#hero {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, fit-content);
  min-height: 85vh;
}

.hero-prop {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-bottom: var(--ws-4);
}

.hero-heading {
  grid-column: 1/3;
}

.hero-img {
  grid-row: 3/4;
}

.hero-img img {
  width: 80px;
  height: 80px;
}

.hero-caret {
  grid-column: 2/3;
  grid-row: 3/4;
}

.hero-caret a {
  right: 0px;
  animation: bouncy 3s linear infinite;
}

#indicator-text {
  right: 0px;
  bottom: 0px;
}

@keyframes bouncy {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(-5px)
  }

  100% {
    transform: translateY(-15px);
  }
}

@media (min-width: 768px) {
  #hero {
    grid-template-rows: repeat(2, 1fr);
    /* min-height: 100vh; */
  }

  .hero-heading {
    grid-column: 2/3;
  }

  .hero-prop {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: end;
    margin-bottom: 0px;
  }

  .hero-img,
  .hero-caret {
    grid-row: 2/3;
  }
}

/* about */
#about-caption {
  top: var(--ws-2);
}

.about-panel.grid-split p {
  grid-column: 1/3;
}

#service-caption {
  grid-column: 1/3;
}

.service-card {
  grid-column: 1/3;

}

.service-caret {
  display: none;
}

@media (min-width: 602px) {
  .service-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .service-specs {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  #about-text-1 {
    text-indent: 14rem;
  }

  .about-panel.grid-split p {
    grid-column: 2/3;
  }

  #service-caption {
    grid-column: 1/2;
  }

  .service-card {
    flex-direction: column;
    align-items: start;
    grid-column: 2/3;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    height: 130px;
  }

  .service-card.active {
    height: 180px;
  }

  .vert-caret {
    transition: all 0.5s ease-in-out;
  }

  .service-card.active .service-heading svg .vert-caret {
    opacity: 0;
  }

  .service-heading {
    width: 100%;
  }

  .service-caret {
    display: block;
    top: 15%;
    right: 0px;
  }

  .service-specs {
    text-align: left;
    transition: all 0.5s ease-in-out;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  .service-card.active .service-specs {
    clip-path: polygon(0 0, 500% 100%, 100% 100%, 0 100%);
  }
}

/* work */
.work-heading {
  font-weight: 500;
}

.work-heading .accent-text {
  text-align: right;
}

#svg-container svg {
  width: 100%;
  height: fit-content;
}

#vessel {
  transform-origin: center;
  stroke-dashoffset: 2000;
  stroke-dasharray: 0;
}

#vessel.sway {
  animation: sway 5s linear infinite;
}

/* svg animation */
@keyframes sway {
  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (min-width:768px) {
  .work-heading {
    font-weight: 600;
  }

  #svg-container svg {
    width: 400px;
    height: fit-content;
  }
}

/* experience */
.experience-card .period {
  display: none;
}

.experience-specs p {
  display: flex;
  flex-direction: column;
}

@media (min-width:602px) {
  .experience-plot {
    grid-column: 1/3;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .experience-specs p {
    padding-top: var(--ws-2);
    text-align: right;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:1024px) {
  #experience-heading {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .experience-card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .experience-card .period {
    display: block;
  }

  .experience-plot {
    grid-column: 2/3;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .experience-specs p {
    padding-top: 0px;
    text-align: left;

    flex-direction: column;
  }

  .experience-specs p .period-stamp {
    display: none;
  }
}

/* testimonials */
#testimonial-bg-effect {
  transform: scaleX(-1);
  width: 100%;
  height: 100vh;
  z-index: 100;
}

#testimonial-bg-effect svg {
  bottom: 0%;
  right: 0px;
  width: 50%;
}


.testiphant {
  gap: var(--ws-2);
}

.testiphant-img {
  width: 40px;
  height: 40px;
  -right: var(--ws-1);
}

@media (min-width:602px) {

  #testimony-1,
  #testimony-3 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, fit-content);
    gap: var(--ws-3) 0px;
  }

  .testimony {
    grid-column: 2/3;
  }

  .testiphant {
    grid-column: 2/3;
  }
}

/* contact */
#social-panel {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: var(--ws-4) 0px;
}

.contact-support-title {
  text-align: right;
}

@media (min-width:602px) {
  #contact-intro {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .contact-support-title {
    display: flex;
    align-items: end;
  }
}


/* footer */
.footer-panel {
  text-align: center;
}

#footer-indicator {
  display: none;
}

#footer-indicator p {
  grid-column: 2/2;
}

#footer-indicator a {
  grid-column: 2/2;
  animation: bouncy 3s linear infinite;
  margin-top: var(--ws-2);
}

@media (min-width: 375px) {
  .footer-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-panel p {
    grid-column: 2/2;
    text-align: left;
  }
}

@media (min-width: 768px) {
  #footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }

  .footer-panel {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .footer-panel p {
    text-align: right;
  }

  #footer-indicator {
    display: block;
    position: absolute;
  }

  #footer-indicator p {
    position: absolute;
    right: var(--ws-4);
    top: var(--ws-4);
  }

  #footer-indicator a {
    position: absolute;
    right: var(--ws-4);
    top: var(--ws-4);
    margin-top: var(--ws-4);
  }
}

@media (min-width: 1024px) {
  .footer-panel {
    justify-content: space-between;
  }

  .footer-panel p {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

/* miscelleneaous */
#overlay {
  background-image: url('../assets/images/overlay (1).gif');
  background-position: contain;
  background-repeat: repeat;
  opacity: 0.05;
}

#mouse-tracker {
  width: 40px;
  height: 40px;
  /* background-color: var(--complimentary-clr); */
  border: 1px solid var(--dorminant-clr);
  border-radius: 50%;
  mix-blend-mode: difference;
  display: none;
  opacity: 0;
}

.text-delimiter {
  width: minmax(296px, 320px);
}

.text-indent {
  text-indent: 9rem;
}

.hide-page {
  transform: translateY(-100%);
}

.link-pry::before {
  content: '';
  transition: all 1s ease-in;
  transform: translateX(-100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 10px;
  height: 2px;
  background-color: var(--dorminant-clr);
}

.link-pry:hover::before {
  transform: translateX(800%);
}

.link-sec::before {
  content: '';
  transition: all 2s ease-in;
  transform: translateX(-100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 10px;
  height: 5px;
  background-color: var(--complimentary-clr);
}

.link-sec:hover::before {
  transform: translateX(8000%);
}

.link-sub {
  transition: all 0.5s ease-in;
}

.link-sub:hover {
  color: var(--dorminant-clr)
}

.link-sub::before {
  content: '';
  transition: all 0.5s ease-in;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 1px;
  background-color: var(--dorminant-clr);
}

.link-sub:hover::before {
  width: 100%
}

.link-sup::before {
  content: '';
  transition: all 0.5s ease-in;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 1px;
  background-color: var(--complimentary-clr);
}

.link-sup:hover::before {
  width: 100%
}

.no-pointer {
  cursor: default;
}

@media (min-width: 768px) {
  .link-sec::before {
    width: 10px;
    height: 8px;
  }
}

@media (min-width: 1024px) {
  #mouse-tracker {
    display: block;
  }
}

.event-null {
  pointer-events: none;
}

.margin-line {
  width: 100%;
  height: 0.5px;
  opacity: 0.4;
  top: 0;
  left: 0;
}

.margin-line-bottom {
  width: 100%;
  height: 0.5px;
  opacity: 0.4;
  bottom: 0;
  left: 0;
}

.highlight {
  background-image: linear-gradient(var(--splash-clr), var(--splash-clr));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  /* transition: all 0.5s ease-in-out; */
}

.highlight-2 {
  background-image: linear-gradient(var(--splash-clr), var(--splash-clr));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  /* transition: all 0.5s ease-in-out; */
}

.highlight.marked {
  background-size: 100% 100%;
}

.highlight-2.marked {
  background-size: 100% 100%;
}


/* utility */
.fit-content {
  width: fit-content;
}

.no-wrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}

.strike-through {
  text-decoration: line-through;
}

.round {
  border-radius: 50%;
}

.z-1 {
  z-index: 999;
}

.z-2 {
  z-index: 900;
}

.z-3 {
  z-index: 600;
}

.z-4 {
  z-index: 200;
}

.z-5 {
  z-index: -200;
}